@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using Ms.Models

<div class="page">
    @if (!IsHomePage)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    // Determine if the current page is the home page ("/")
    private bool IsHomePage => NavigationManager.Uri.EndsWith("/") || NavigationManager.Uri.EndsWith("/login");
}
